@media all and (max-width: 480px) {
  .nav {
    display: none;
  }
  .nav_logo {
    margin: 1.3rem 0;
    z-index: 30;
  }
  #formchange div {
    width: 100%;
  }
  .auth__form {
    margin: 16px;
    padding: 24px 16px;
  }
  .brand img {
    width: 100%;
  }
  .nav_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FCF9F5;
  }
  .nav_mobile_logo {
    width: 12em;
    margin: 16px;
  }
  .nav_mobile a {
    text-decoration: none;
    color: #662D91;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .nav_mobile div {
    background: #FFDAF7;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav_mobile li {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
  }
  .nav_mobile ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: none;
  }
  .nav_mobile li:hover {
    background: #FFB9F0;
    border-radius: 10px;
  }
  .nav_mobile_menu {
    width: 2em;
    height: 2em;
    padding: 1em;
  }
  .nav_mobile_menu2 {
    width: 2em;
    height: 2em;
    padding: 1em;
    display: none;
    justify-content: center;
  }
  .footer__settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__part1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__part2 {
    width: 100%;
    margin: 0;
  }
  .footer__part3 {
    width: 100%;
  }
  .support__form1 {
    flex-direction: column;
  }
  .support__form1__left {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }
  .support__form1__right {
    width: auto;
    padding: 3em 1em 2em 1em;
  }
  .support__form {
    flex-direction: column;
    height: auto;
    margin: 0px 0px 0px 0px;
  }
  .support__form__left {
    width: auto;
    border-radius: 0px 0px 0px 0px;
  }
  .support__form__right {
    width: auto;
    padding: 3em 16px 2em 16px;
  }
  .support__form__row {
    flex-direction: column;
    width: auto;
  }
  .support__form__div {
    width: auto;
    padding: 0.3rem 0rem;
  }
  .support__form__button {
    flex-direction: column-reverse;
  }
  .support__formfinal {
    border-radius: 0px;
    margin: 0px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 16px;
  }
  .support__formfinal div {
    margin-top: 2rem;
  }
  .support__formfinal img {
    margin-bottom: 2rem;
    width: 20rem;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .banner h3 {
    margin: 4rem 0rem 1rem 0rem;
  }
  .banner img {
    width: 70%;
  }
  #buttonbanner {
    width: auto;
  }
  .moirapage__part1 {
    margin: 24px 16px;
  }
  .moirapage__part2 {
    flex-direction: column;
    margin: 24px 16px;
  }
  .moirapage__part2__div {
    width: 100%;
  }
  .moirapage__part2__text {
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .moirapage__part3 {
    flex-direction: column-reverse;
    margin: 24px 16px;
  }
  .moirapage__part3__div {
    width: 100%;
  }
  .moirapage__part3__text {
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .moirapage__part4 {
    flex-direction: column;
    margin: 24px 16px;
  }
  .moirapage__part4__div {
    width: 100%;
  }
  .moirapage__part4__text {
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .moirapage__part6 {
    margin: 0px 16px 3em 16px;
  }
  .index__part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px 0px;
  }
  .index__part1__brand {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  .index__part1__text {
    width: auto;
    margin-top: 24px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0em 16px;
  }
  .index__part1__text h4 {
    margin-bottom: 16px;
  }
  .index__part2 {
    margin: 0px 1em;
    border-radius: 16px;
    padding: 2em 2em;
    text-align: center;
  }
  .index__part2 h4 {
    line-height: 24px;
  }
  .index__part3 {
    text-align: center;
    margin: 3em 0em;
  }
  .index__part4 {
    margin-bottom: 5em;
  }
  .index__part4 img {
    width: 100%;
  }
  .button-1support {
    width: auto;
    margin: 16px;
  }
  .button-2support {
    width: auto;
    margin: 16px;
  }
  .div__button {
    flex-direction: column;
  }
}

/*# sourceMappingURL=mobile.css.map */
