$red-1: #C1272D;
$red-2: #DF5056;
$red-3: #EF858A;
$orange-1: #F15A24;
$orange-2: #F3835B;
$orange-3: #F9B9A3;
$yellow-1: #FBB03B;
$yellow-2: #FFC976;
$yellow-3: #FFDFAE;
$green-1: #009245;
$green-2: #38CA7D;
$green-3: #78F3B2;
$blue-1: #29ABE2;
$blue-2: #74CBF0;
$blue-3: #A0E0FB;
$purple-1: #662D91;
$purple-2: #A059D4;
$purple-3: #CF8EFF;
$complementary-brown: #C7B299;
$complementary-green: #84C7AC;
$complementary-yellow: #D9E021;
$neutral-color-1: #0A0C35;
$neutral-color-2: #747474;
$neutral-color-3: #A3A3A3;
$neutral-color-4: #BABABA;
$neutral-color-5: #F5F5F5;
$neutral-color-6: #FFFFFF;
$neutral-color-7: #FCF9F5;

$primary-color-1: #304F9D;
$primary-color-2: #4D71CD;
$primary-color-3: #7696E8;

$secondary-color-1: #FF92E8;
$secondary-color-2: #FFB9F0;
$secondary-color-3: #FFDAF7;

$tittle-font: 'Montserrat', sans-serif;
$subtittle-font: 'Ubuntu', sans-serif;
$body-font: 'Overpass', sans-serif;
$box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
$border-radius: 0.25rem;
$border: 2px solid $purple-1;

body{
    margin: 0;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $blue-2;
    align-items: center;
    text-align: center;
    color: $neutral-color-6;

    h3{
        margin: 4rem 0rem 1rem 0rem;
    }

    img{
        width: 70%;
    }

}

#buttonbanner{
    width: 20%;
}
h5{
    font-family: $subtittle-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3{
    font-family: $subtittle-font;
    font-weight: 500;
    font-style: italic;
    font-size: 36px;
    line-height: 30px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h4{
    font-family: $tittle-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p{
    font-family: $body-font;
    font-weight: 300;
    font-size: 16px;
    margin-block-start: 0em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}


#register_page{
    background: $purple-1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

#support{
    background: $neutral-color-7;
    
}


.auth{
    font-family: $body-font;

    &__div1{
        display: flex;
        justify-content: center;
    }

    &__div2{
        display: none;
    }

    &__form{

        background: $neutral-color-6;
        border: 0px;
        box-shadow: $box-shadow;
        padding: 20px 30xp;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
       // margin: 16px 0px 16px 0px;
        //align-items: center;
        &__inputs{
            display: flex;
            flex-direction: column;
           // width: 100%;
            
        }

        

    }
}

.formlabel{
    font-family: $body-font;
    font-weight: 500;
    font-size: 16px;
    color: $purple-1;
    padding: 0px 3px 0px 3px;
    background: $neutral-color-6;
    width: fit-content;
    z-index: 10;
    margin: 0px 6px -16px 6px;
}

.forminput{
    background: #FFFFFF;
    border: 2px solid $purple-1;
    border-radius: 3px;
    padding: 12px;
    z-index: 3;
    color: $purple-1;
    font-family: $body-font;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0px;
    

    :focus{
        border: 2px solid $purple-1;
    }
}

::placeholder{
    color: $secondary-color-1;
    
}

.button-1{
    background-color: $primary-color-1;
    border: none;
    color: $neutral-color-6;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-family: $body-font;
    font-weight: 400;
    font-size: 16px;
    border-radius: 100px;
    width: 100%;
    margin: 42px 0px 0px 0px;

    &:hover{
        background-color: $primary-color-2;
    }
}

.button-1support{
    background-color: $primary-color-1;
    border: none;
    color: $neutral-color-6;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-family: $body-font;
    font-weight: 400;
    font-size: 16px;
    border-radius: 100px;
    width: 50%;
    margin: 2rem ;

    &:hover{
        background-color: $primary-color-2;
    }
}
.button-2{
    background-color: $secondary-color-1;
    border: none;
    color: $neutral-color-6;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-family: $body-font;
    font-weight: 400;
    font-size: 16px;
    border-radius: 100px;
    width: 100%;
    margin: 16px 0px;
    &:hover{
        background-color: $secondary-color-2;
    }
}
.button-2support{
    background-color: $secondary-color-1;
    border: none;
    color: $neutral-color-6;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-family: $body-font;
    font-weight: 400;
    font-size: 16px;
    border-radius: 100px;
    width: 50%;
    margin: 2rem;
    &:hover{
        background-color: $secondary-color-2;
    }
}


.brand{
    display: flex;
    justify-content: center;
    padding: 16px;
    //align-items: center;
}


#login{
    background-color: $blue-1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    //background-image: url("../sources/image-login.png");
}


.nav{
    background: $neutral-color-7 ;
    top: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        color: $purple-1;
        font-family: $body-font;
        font-weight: 400;
        font-size: 16px;
        
        
    }

   

    li{
        display: inline-block;
        padding: 8px 16px ;
    }
    li:hover{
        background: $secondary-color-2;
        border-radius: 10px;
    }
    &_logo{
        width: 8em;
    }

    ul{
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        
    }
}


.footer{
    background-color: $neutral-color-7;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color-1;

    &__rect_fucsia{
        background: $secondary-color-1;
        width: 100%;
        height: 9px;
    }

    &__settings{
        display: flex;
    }

    &_logo{
        width: 10em;
    }

    &__part1{
        
        margin:3rem;
        width: 30%;
        li{
            display: inline-block;

            img{
                width: 1.8em;
            }
        }

        ul{
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 1rem;
            padding-inline-end: 1rem;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
        }

    }

    &__part2{
        margin: 3rem;
        width: 30%;
        ul{
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0rem;
            padding-inline-end: 0rem;
            margin-top: 0.5rem;
            display: flex;
            flex-direction:column;

        }

        a{
            text-decoration: none;
            font-family: $body-font;
            font-weight: 400;
            font-size: 12px;    
            color: $primary-color-1;
        }

        a:hover{
            color: $secondary-color-1;
        }

        li{
            list-style-type: none;
        }
    }

    &__part3{
        margin: 3rem;
        width: 40%;
        p{margin-top: 0.5rem;}
    }

    &__part4{
        text-align: center;
        &__brand{
            width: 16rem;
            margin-top: 0.5rem;
        }
        &__caption{
            margin-top: 3rem;
            font-family: $body-font;
            font-weight: 600;
            font-size: 8px;
            line-height: 8px;
            letter-spacing: 2px;
            

        }
        
    }

    &__rainbow{
        width: 100%;
        display: flex;
        margin-top: 1rem;
        &__red{
            width: (100%/6);
            height: 16px;
            background: $red-1;
        }
        &__yellow{
            width: (100%/6);
            height: 16px;
            background: $yellow-1;
        }
        &__orange{
            width: (100%/6);
            height: 16px;
            background: $orange-1;
        }
        &__green{
            width: (100%/6);
            height: 16px;
            background: $green-1;
        }
        &__blue{
            width: (100%/6);
            height: 16px;
            background: $blue-1;
        }
        &__purple{
            width: (100%/6);
            height: 16px;
            background: $purple-1;
        }
    }

}

.support{

    &__formfinal{

        background: $purple-1;
        border: 0px;
        box-shadow: $box-shadow;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        margin: 2rem 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 20%;
        color: $neutral-color-6;
        height: 100vh;
        div{
            margin-top: 2rem;
        }
        img{
            margin-bottom: 2rem;
        }
    }

    &__form1{
        background: $neutral-color-6;
        border: 0px;
        box-shadow: $box-shadow;
        //padding: 20px 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        border-radius: 16px;
        margin: 2rem 10%;

       // margin: 16px 0px 16px 0px;
        //align-items: center;

 


        &__inputs{
            display: flex;
            flex-direction: column;
           // width: 100%;
            
        }

        &__left{
            width: 50%;
            background:$blue-2;
            border-radius: 16px 0px 0px 16px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            img{
                margin-bottom: 0;
                width: 80%;

                
            }
        }

        &__right{
            width: 50%;
            padding: 3em 4em 2em 1em;
            color: $purple-1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__body{
                margin-top: 2rem;
            }
        }

        


    }

    &__form{



        background: $neutral-color-6;
        border: 0px;
        box-shadow: $box-shadow;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        border-radius: 16px;
        margin: 2rem 10%;
        height: 100vh;
       // margin: 16px 0px 16px 0px;
        //align-items: center;
        &__brand{
            width: 50%;
            margin-bottom: 2rem;
        }

        &__divbrand{
            display: flex;
            justify-content: center;
        }
        &__div{
            display: flex;
            
            flex-direction: column;
            align-content: flex-start;
            width: 100%;
            padding: 0.3rem;
           
        }

        &__row{
            display: flex;
            flex-direction: row;
        }

        &__left{
            width: 40%;
            background: $purple-1;
            border-radius: 16px 0px 0px 16px;
            padding: 3em 2em 2em 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $neutral-color-6;
            
        }

        &__right{
            width: 60%;
            padding: 3em 6em 2em 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__check{
            display: flex;
            flex-direction: row;
            color: $purple-1;
           align-items: center;
        
            
        }

        &__tracking{
            display: flex;
            flex-direction: row;
            justify-content: center;
            &__round1{
                background: $secondary-color-1;
                border-radius: 100%;
                height: 16px;
                width: 16px;
                margin: 0px 8px 1.5em 8px;
            }
            &__round2{
                background: $secondary-color-3;
                border-radius: 100%;
                height: 16px;
                width: 16px;
                margin: 0px 8px 1.5em  8px;
            }
            &__round3{
                background: $secondary-color-3;
                border-radius: 100%;
                height: 16px;
                width: 16px;
                margin: 0px 8px 1.5em  8px;
            }
            &__round4{
                background: $secondary-color-3;
                border-radius: 100%;
                height: 16px;
                width: 16px;
                margin: 0px 8px 1.5em 8px;
            }
        }

        &__button{
            display: flex;
            flex-direction: row;
        }

        
    }
}




fieldset{
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: min-content;
}

#fss2{
    display: none;
}

#fss3{
    display: none;
}

#fss4{
    display: none;
}
#fss5{
    display: none;
}
#fss6{
    display: none;
}

#t21{
    background: $secondary-color-1;
}

#t22{
    background: $secondary-color-1;
}

#t23{
    background: $secondary-color-1;
}



