body {
  margin: 0;
}

.bannermoira {
  width: 100%;
}

.moirapage {
  color: #662D91;
}
.moirapage__part1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5em 20%;
}
.moirapage__part1 p {
  margin-top: 2em;
}
.moirapage__part2 {
  display: flex;
  margin: 1em 10% 5em 10%;
  align-items: center;
}
.moirapage__part2__div {
  width: 50%;
}
.moirapage__part2__brand {
  width: 100%;
}
.moirapage__part2__text {
  padding: 0px 0px 0px 2em;
  width: 50%;
}
.moirapage__part2__text h4 {
  margin-top: 1em;
}
.moirapage__part2__text p {
  margin-top: 1em;
}
.moirapage__part3 {
  display: flex;
  margin: 1em 10% 5em 10%;
  align-items: center;
}
.moirapage__part3__div {
  width: 50%;
}
.moirapage__part3__image {
  width: 100%;
}
.moirapage__part3__text {
  text-align: end;
  padding: 0px 2em 0px 0px;
  width: 50%;
}
.moirapage__part3__text h4 {
  margin-top: 1em;
}
.moirapage__part3__text p {
  margin-top: 1em;
}
.moirapage__part4 {
  display: flex;
  margin: 1em 10% 5em 10%;
  align-items: center;
  padding: 2em;
  background-color: #304F9D;
  border-radius: 16px;
  color: #FFFFFF;
}
.moirapage__part4__div {
  width: 50%;
}
.moirapage__part4__brand {
  width: 100%;
}
.moirapage__part4__text {
  padding: 0px 0px 0px 2em;
  width: 50%;
}
.moirapage__part4__text h4 {
  margin-top: 1em;
}
.moirapage__part4__text p {
  margin-top: 1em;
}
.moirapage__part5 {
  text-align: center;
  color: #FFFFFF;
  margin: 5em 0em;
  padding: 3em;
  background-color: #662D91;
}
.moirapage__part5__feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}
.moirapage__part5__feature img {
  margin-top: 3em;
  padding: 2em;
}
.moirapage__part6 {
  text-align: center;
  margin-bottom: 5em;
  font-family: "Overpass", sans-serif;
  color: #FF92E8;
}
.moirapage__part7 {
  text-align: center;
  margin: 1em 10% 5em 10%;
}
.moirapage__part7 h3 {
  margin-bottom: 1em;
  color: #F15A24;
}
.moirapage__part7__advertencia h5 {
  margin-top: 3em;
  color: #F15A24;
}
.moirapage__part7__preguntas {
  text-align: left;
}
.moirapage__part7__preguntas h5 {
  margin-top: 2em;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #74CBF0;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.banner h3 {
  margin: 4rem 0rem 1rem 0rem;
}
.banner img {
  width: 70%;
}

.nav_mobile {
  display: none;
}

.index__part1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5em 0em;
}
.index__part1__brand {
  width: 30em;
  display: flex;
  justify-content: end;
  padding: 0em 3em 0em 20%;
}
.index__part1__text {
  width: 50%;
  color: #662D91;
  display: flex;
  flex-direction: column;
  padding: 0em 20% 0em 3em;
}
.index__part1__text p {
  margin-top: 1em;
}
.index__part2 {
  margin: 0px 20%;
  background: #662D91;
  color: #FFFFFF;
  border-radius: 16px;
  padding: 5em 8em;
  text-align: center;
}
.index__part2 h4 {
  line-height: 24px;
}
.index__part3 {
  text-align: center;
  color: #662D91;
  margin: 5em 0em;
}
.index__part3__feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}
.index__part3__feature img {
  padding: 1em;
}
.index__part4 {
  margin-bottom: 5em;
}
.index__part4 img {
  width: 100%;
}
.index__part5 {
  text-align: center;
  color: #009245;
}
.index__part5 h4 {
  margin-bottom: 2em;
}
.index__part5__feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.index__part5__feature img {
  padding: 0.5em;
}

#buttonbanner {
  width: 20%;
}

.learn {
  background: #FCF9F5;
}

h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.18px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 36px;
  line-height: 30px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#register_page {
  background: #662D91;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#support {
  background: #FCF9F5;
}

.auth {
  font-family: "Overpass", sans-serif;
}
.auth__div1 {
  display: flex;
  justify-content: center;
}
.auth__div2 {
  display: none;
}
.auth__form {
  background: #FFFFFF;
  border: 0px;
  box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}
.auth__form__inputs {
  display: flex;
  flex-direction: column;
}
.auth__form__buttons {
  display: flex;
  flex-direction: column-reverse;
}

.formlabel {
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #662D91;
  padding: 0px 3px 0px 3px;
  background: #FFFFFF;
  width: fit-content;
  z-index: 10;
  margin: 0px 6px -16px 6px;
}

.forminput {
  background: #FFFFFF;
  border: 2px solid #662D91;
  border-radius: 3px;
  padding: 12px;
  z-index: 3;
  color: #662D91;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 5px 0px;
}
.forminput :focus {
  border: 2px solid #662D91;
}

* :disabled {
  border: 2px solid #747474;
  background: #F5F5F5;
  color: #747474;
  opacity: 50%;
}

::placeholder {
  color: #FF92E8;
}

.button-1 {
  background-color: #304F9D;
  border: none;
  color: #FFFFFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 100px;
  width: 100%;
  margin: 0px 0px 0px 0px;
}
.button-1:hover {
  background-color: #4D71CD;
}

.button-1support {
  background-color: #304F9D;
  border: none;
  color: #FFFFFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 100px;
  width: 50%;
  margin: 2rem;
}
.button-1support:hover {
  background-color: #4D71CD;
}

.button-case {
  background-color: #FF92E8;
  border: none;
  color: #FFFFFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 100px;
  margin: 1rem;
}
.button-case:hover {
  background-color: #4D71CD;
}

.button-2 {
  background-color: #FF92E8;
  border: none;
  color: #FFFFFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 100px;
  width: 100%;
  margin: 24px 0px 16px 0px;
}
.button-2:hover {
  background-color: #FFB9F0;
}

.button-2support {
  background-color: #FF92E8;
  border: none;
  color: #FFFFFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 100px;
  width: 50%;
  margin: 2rem;
}
.button-2support:hover {
  background-color: #FFB9F0;
}

.brand {
  display: flex;
  justify-content: center;
  padding: 16px;
}

#login {
  background-color: #74CBF0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#seleccionado {
  background: #FFB9F0;
  border-radius: 10px;
}

.nav {
  background: #FCF9F5;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  padding: 15px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: #662D91;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.nav li {
  display: inline-block;
  padding: 8px 16px;
}
.nav li:hover {
  background: #FFDAF7;
  border-radius: 10px;
}
.nav_logo {
  width: 8em;
}
.nav ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.footer {
  background-color: #FCF9F5;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #304F9D;
}
.footer__rect_fucsia {
  background: #FF92E8;
  width: 100%;
  height: 9px;
}
.footer__settings {
  display: flex;
}
.footer_logo {
  width: 10em;
}
.footer__part1 {
  margin: 3rem;
  width: 30%;
}
.footer__part1 li {
  display: inline-block;
}
.footer__part1 li img {
  width: 1.8em;
}
.footer__part1 ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.footer__part2 {
  margin: 3rem;
  width: 30%;
}
.footer__part2 ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0rem;
  padding-inline-end: 0rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.footer__part2 a {
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #304F9D;
}
.footer__part2 a:hover {
  color: #FF92E8;
}
.footer__part2 li {
  list-style-type: none;
}
.footer__part3 {
  margin: 3rem;
  width: 40%;
}
.footer__part3 p {
  margin-top: 0.5rem;
}
.footer__part4 {
  text-align: center;
}
.footer__part4__brand {
  width: 16rem;
  margin-top: 0.5rem;
}
.footer__part4__caption {
  margin-top: 3rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 8px;
  line-height: 8px;
  letter-spacing: 2px;
}
.footer__rainbow {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}
.footer__rainbow__red {
  width: 16.6666666667%;
  height: 16px;
  background: #C1272D;
}
.footer__rainbow__yellow {
  width: 16.6666666667%;
  height: 16px;
  background: #FBB03B;
}
.footer__rainbow__orange {
  width: 16.6666666667%;
  height: 16px;
  background: #F15A24;
}
.footer__rainbow__green {
  width: 16.6666666667%;
  height: 16px;
  background: #009245;
}
.footer__rainbow__blue {
  width: 16.6666666667%;
  height: 16px;
  background: #29ABE2;
}
.footer__rainbow__purple {
  width: 16.6666666667%;
  height: 16px;
  background: #662D91;
}

.support__formfinal {
  background: #662D91;
  border: 0px;
  box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin: 2rem 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20%;
  color: #FFFFFF;
}
.support__formfinal div {
  margin-top: 2rem;
}
.support__formfinal img {
  margin-bottom: 2rem;
}
.support__form1 {
  background: #FFFFFF;
  border: 0px;
  box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  margin: 2rem 10%;
}
.support__form1__inputs {
  display: flex;
  flex-direction: column;
}
.support__form1__left {
  width: 50%;
  background: #74CBF0;
  border-radius: 16px 0px 0px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.support__form1__left img {
  margin-bottom: 0;
  width: 80%;
}
.support__form1__right {
  width: 50%;
  padding: 3em 4em 2em 1em;
  color: #662D91;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.support__form1__right__body {
  margin-top: 2rem;
}
.support__form {
  background: #FFFFFF;
  border: 0px;
  box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  margin: 2rem 10%;
  height: 100vh;
  font-family: "Overpass", sans-serif;
}
.support__form__brand {
  width: 50%;
  margin-bottom: 2rem;
}
.support__form__divbrand {
  display: flex;
  justify-content: center;
}
.support__form__div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  padding: 0.3rem;
}
.support__form__row {
  display: flex;
  flex-direction: row;
}
.support__form__row h5 {
  color: #662D91;
}
.support__form__left {
  width: 40%;
  background: #662D91;
  border-radius: 16px 0px 0px 16px;
  padding: 3em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}
.support__form__right {
  width: 60%;
  padding: 3em 6em 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.support__form__check {
  display: flex;
  flex-direction: row;
  color: #662D91;
  align-items: center;
}
.support__form__tracking {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.support__form__tracking__round1 {
  background: #FF92E8;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  margin: 0px 8px 1.5em 8px;
}
.support__form__tracking__round2 {
  background: #FFDAF7;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  margin: 0px 8px 1.5em 8px;
}
.support__form__tracking__round3 {
  background: #FFDAF7;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  margin: 0px 8px 1.5em 8px;
}
.support__form__tracking__round4 {
  background: #FFDAF7;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  margin: 0px 8px 1.5em 8px;
}
.support__form__button {
  display: flex;
  flex-direction: row;
}

.div__button {
  display: flex;
  justify-content: center;
}

#divmoira {
  display: flex;
  justify-content: center;
}

#moirabrandcases {
  width: 10rem;
  margin: 24px 0px 0px 0px;
}

.divcharts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#line {
  height: 0.5em;
  background: #74CBF0;
  margin: 16px 0px;
}

fieldset {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: min-content;
}

#fss2 {
  display: none;
}

#fss3 {
  display: none;
}

#fss4 {
  display: none;
}

#fss5 {
  display: none;
}

#fss6 {
  display: none;
}

#t21 {
  background: #FF92E8;
}

#t22 {
  background: #FF92E8;
}

#t23 {
  background: #FF92E8;
}

#casespage {
  background: #FCF9F5;
}

#TittlerPerfil {
  background: #662D91;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  padding: 4rem;
  border-radius: 16px;
  margin: 2rem;
}

#tuscasos {
  align-items: center;
  color: #304F9D;
  text-align: center;
}

#tablecases {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: center;
}
#tablecases a {
  text-decoration: none;
}

.casedetail {
  background: #FCF9F5;
}
.casedetail__div {
  margin: 2em 10%;
  display: flex;
  align-items: center;
  justify-items: center;
}
.casedetail__div img {
  height: 20px;
  margin: 0px 16px 0px 0px;
}
.casedetail__div a {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-size: 24px;
}

#formchange {
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
  display: flex;
  flex-direction: column;
  margin: 2rem 10%;
  padding: 2rem;
  align-items: center;
  width: auto;
  border-radius: 1rem;
}
#formchange div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.casesinfo {
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
  display: flex;
  flex-direction: column;
  margin: 2rem 10%;
  align-items: center;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 15px;
  border-radius: 1rem;
  padding: 2em 5em;
  color: #662D91;
}
.casesinfo p {
  margin: 0px 0px 16px 0px;
}
.casesinfo h5 {
  background: #FF92E8;
  color: #FFFFFF;
  padding: 12px 0px;
  margin: 16px;
  border-radius: 0.5em;
}

#casesstatus {
  padding: 0.5em 1em;
  background: #304F9D;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 8px;
}

.casos__card {
  color: #662D91;
  background: #FFFFFF;
  margin: 12px;
  border-radius: 16px;
  box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.casos__card img {
  width: 40px;
  height: 40px;
  margin: 16px 0px;
}
.casos__card p {
  margin: 8px;
}

.everychart {
  margin: 16px 16px;
  box-shadow: 0 0.5rem 1rem rgba(255, 146, 232, 0.15);
}

#datagraphic {
  background: #FCF9F5;
}

#Activo {
  padding: 0.5em 1em;
  background: #84C7AC;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 8px;
}

#Cerrado {
  padding: 0.5em 1em;
  background: #304F9D;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 8px;
}

#Enviado {
  padding: 0.5em 1em;
  background: #FF92E8;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
